<!DOCTYPE html>
<html lang="en">
<head>

<link rel="stylesheet" type="text/css" href="/css/normalize.css">
<link rel="stylesheet" type="text/css" href="/css/basic_style.css">

<link href='http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700|Montserrat+Subrayada:400,700|Montserrat:400,700' rel='stylesheet' type='text/css'>

<title>Pet App</title>
</head>
 <body>
 <div class="container">
  
      <div id="keith-name" class="one-edge-shadow">
        <span><h1>Keith Strand</h1><h2>Rails Developer</h2></span>
      </div>
   
      <div id="links" class="one-edge-shadow">
        <h1>Project links</h1>
        <dl>
          <dt><a href="http://catch-a-tweet.herokuapp.com">Catch-a-tweet</a></dt>
          <dd>Twitter gem code exercise for favstar.fm</dd>
          <dt><a href="http://verbza.herokuapp.com/users/sign_in">Verbza</a>
          </dt><dd>Flashcard tool built with HTML5 and JQuery Mobile.</dd>
          <dt><a href="http://www.lunchmob.co">LunchMob</a></dt>
          <dd>Social lunchtime app.</dd>
          <dt><a href="http://www.searchandrestore.com/">Search and Restore</a></dt>
          <dd>Site for new music in New York City.</dd>
        </dl>
      </div>
   </div>
 </body>
</html>

